.parent{
    margin: 10px 8px;
    width: 80em;
    height: 50em;
    background-color: cadetblue;
}
.box-child{
    width: 30%;
    height: 30%;
    background-color: white;
    margin: 8px;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box-child img{
    background-color: black;
    width: 14%;
    height: 22%;
    border-radius: 50%;
    margin-left: 40%;
    border: 1px solid black;
    
}
.box-child p{
    padding: 2%;
}
.name-text{
    background-color: #6495ED;
    width: 100%;
    height: 50%;
    text-align: center;
}
p{
    color: gray;
}
/*flexbox using*/
.parent{
    display: flex;
    justify-content: space-around;
}
.box-child-1{
    margin-top: auto;
}