body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

#stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('paul-volkmer-qVotvbsuM_c-unsplash.jpg');
  background-size: cover;
  animation: animateStars 200s linear infinite;
}

@keyframes animateStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 10000px;
  }
}

#title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #ffd608;
  text-align: center;
  font-family: 'Star Wars', sans-serif;
                                                
}

#square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 200px;
  /* background: rgba(233, 71, 12, 0.3); */
  border: 4px solid #ffd608;
  border-radius: 20px;
  color: aliceblue;
}
#centered-button {
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  padding: 10px 20px;
  background-color: hsla(50, 100%, 52%, 0);
  border: 2px solid #ffd608;
  border-radius: 16px;
  color: #ffd608;
  cursor: pointer;
}

#centered-button:hover {
  background-color: #a81818;
  color: #ffd608;
}
#display-name{
  text-align: center;
  font-size: xx-large;
}
#display-height,#display-gender, #display-birth-year, #display-home-world {
  text-align: center;
}
