.outer{
    width: 100%;
    height: 70vh;
    background-color: gray;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.inner{
    width: 33%;
    height: 33%;
    background-color: bisque;
    margin: 10px;
    text-align: center;
    
}
