.grid-templates{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px ;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    gap: 10px;
}
.item-1, .item-3, .item-5, .item-8, .item-10, .item-12,
.item-13, .item-15, .item-17, .item-19, .item-21, .item-23,
.item-25, .item-25, .item-27, .item-29, .item-31, .item-33,
.item-35{
    background-color: aqua;
}
.item-2, .item-4, .item-6, .item-7, .item-9, .item-11, 
.item-14, .item-16,
.item-18, .item-20, .item-22, .item-24, .item-26, .item-28,
.item-30, .item-32, .item-34, .item-36{
    background-color: blueviolet;
}

