body{
    margin: 0;
}
/*nav bar */
nav {
    background-color: black;
    height: 5vh;
    padding: 7px;
}
nav i{
    position: relative;
    width: 10%;
    height: 10vh;
    margin-top: 20px;
    float: left;
    color: white;
}
ul {
    float: right;
}
li{
    display: inline-block;
    padding: 0;
    color: white;
    list-style-type: none;
    margin: 7px 30px;
}
li a {
    color: white;
}

/*products section*/
.section-products{
    margin: 5% 3%;
    padding-left: 7vh;

}
.card-container {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35vh;
    height: 50vh;
    margin: 1vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: grey;
    border-radius: 1vh;
  }

  .card-container:hover {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
    transform: scale(1.1);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .infos-products{
    background-color: grey;
  }
  .infos-products span{
    color: red;
  }
  .infos-products button{
    border-radius: 2vh;
    width: 40%;
    height: 35%;
    background-color: greenyellow;
    scale: 1.2;
  }
  .infos-products button:hover{
    transform: scale(1.2);
  }
/*footer of my page*/